/* Added Google font Leckerli One */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

/* Space Background - all credit goes to Nazar The Vis Azhar at codepen.io*/
@media only screen and (max-width: 425px) {
	.navbar{
	width: 250%;
	}
}

/* Box sixing */

*{
	box-sizing: border-box;
	margin: auto;
}

/*       My custom CSS below */ 

.container{
	width: 67%;
	margin-top: 10px;
	height:800px;
	float: left;
	margin-left: 30px;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index: -2;
  }


body{
   font-family: 'Leckerli One', cursive, sans-serif;  
   font-size: 25px;
}

.navbar{
	padding:10px;
	margin-top: 20px;
	border-radius: 10px;
}

.jumbotron{
	width: 550px;
	height:600px;
	margin-left:20px;
	margin-top: 20px;
	font-family: Times monospace sans-serif;
	text-align:left;
	border: 1px solid black;
	padding: 30px;
	border-radius: 10px;
	margin-bottom: 20px;;
}

.card{
	width:550px;
	height:40px;
	position: absolute;
	border-radius: 10px;
	margin-top:5px;
	right: 20px;
}

.card footer  {
	position: relative;
	bottom: 20px;
	text-align: center;
	font-style: italic;
	font-size:16px;
	margin-top: 5px;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}



.git-image{
 width:30px;
 height: 30px;
 max-width: auto;
 height:auto;
}

.linkedin-image{
	width: 20px;
	height: 20px;
	max-width: auto;
	height: auto;
	border-radius: 5px;
}

main{
	font-size: 16px;
	text-align: justify;
}

.box-container{
box-sizing: border-box;
margin:20px;
display: flex;
flex-wrap: wrap;
position: relative;
bottom:250px;
justify-content: space-evenly;
top: -250px;
text-align: center;
font-weight: bold;
}


.box-1{
    background-color:red;
    width: 180px;
	height:180px;
	padding-top: 80px;
	font-weight: bold;
}

.box-2{
    background-color: rgb(87, 87, 80);
    width: 180px;
	height:180px;
	padding-top: 80px;
}

.box-3{
    background-color:green;
    width: 180px;
	height:180px;
	padding-top: 80px;
}

