/* Added Google font Leckerli One */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

/* Breakpoint ipad/tablet*/
@media only screen and (max-width: 768px) {
	.navbar{
	width: 113%;
	margin-left:5px;
	}

	div.card{
		position: relative;
		
	}
}
/* Breakpoint iphone/samsung*/
@media only screen and (max-width: 425px) {
	.navbar{
	width: 250%;
	margin-right:10px;
	}

	div.card{
		position: relative;
		left: 28px;
	}

	#align-jumbo{
		margin-right: 80px;
	}
}

/* Space Background - all credit goes to Nazar The Vis Azhar at codepen.io*/
@media only screen and (max-width: 425px) {
	.navbar{
	width: 250%;
	}
}

/* Box sixing */

*{
	box-sizing: border-box;
	margin: auto;
}

/*  Almonzo's custom CSS below */ 

.container{
	width: 67%;
	margin-top: 10px;
	height:800px;
	float: left;
	margin-left: 30px;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index: -2;
  }


body{
   font-family: 'Leckerli One', cursive, sans-serif;  
   font-size: 25px;
}

.navbar{
	padding:10px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 10px;
	position: relative;
	left: 120px;
}

.jumbotron{
	width: 290px;
	height:400px;
	font-family: 'Times New Roman', Times, serif;
	text-align:left;
	border: 1px solid black;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	position: relative;
	left: 100px;
}

.card{
	width:550px;
	height:40px;
	position: absolute;
	right:200px;
	top: 50px;
	border-radius: 10px;
	
}

.card footer  {
	position: relative;
	bottom: 20px;
	text-align: left;
	font-style: italic;
	font-size:16px;
	margin-top: 5px;
	font-weight: bold;
}

.git-image{
 width:30px;
 height: 30px;
 max-width: auto;
 height:auto;
}

.linkedin-image{
	width: 20px;
	height: 20px;
	max-width: auto;
	height: auto;
}




.box-1{
	border: 1px solid red;
	background-image: url(../images/day-planner.png);
	background-size: cover;
    width: 300px;
	height:300px;
	padding-top: 80px;
	font-weight: bold;
}



.box-2{
	border: 1px solid yellow;
	background-image: url(../images/testing-app.png);
	background-size: cover;
    width: 300px;
	height:300px;
	padding-top: 80px;

}

.box-3{
	border: 1px solid green;
	background-image: url(../images/weather-app.png);
	background-size: cover;
    width: 300px;
	height:290px;
	padding-top: 80px;
}



