/* Almonzo's stylesheet */

/* Google font - Leckerli One */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

*
{
 box-sizing: border-box;
}

.navbar
{
	margin-top: 10px;
	border-radius: 10px;
	font-family: 'Leckerli One', cursive,'Times New Roman', Times, serif;
}

.nav-link
{
	 float: right; 
}

body
{
	font-size: 20px;
}

.jumbotron
{
	margin-top: 20px;
	justify-content:space-between;
	font-family: 'Times New Roman', Times, serif;
	background-color: #F8F9FA;
	border-radius:10px;
	padding: 20px;
}

h1
{
	text-align: center;
	font-family: 'Leckerli One', cursive,'Times New Roman', Times, serif;
}

#almonzo-img
{
	border: 3px solid black;
}

footer
{
	text-align: center;
	font-size: 12px;
}

.card
{
	width:100%;
	text-align: center;
	margin-bottom:10px;
}

/* Space background loop - do not touch*/
#myVideo 
{
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index: -2;
  }


/* Media Query for phones */
@media only screen and (max-width: 767px) 
{

	#almonzo-img
{
	width:100%;
}

}

/* Media Query for screens larger than 992px */

@media only screen and (min-width: 992px) 
{
	.navbar-brand
	{
	  padding-right: 740px;
	}

	.nav-link
	{
		font-size:20px;
	}

	.jumbotron
	{
		width:47%;
	}

}












