/* Almonzo's stylesheet */

/* Google font - Leckerli One */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

*
{
 box-sizing: border-box;
}

.navbar
{
	margin-top: 10px;
	border-radius: 10px;
	font-family: 'Leckerli One', cursive,'Times New Roman', Times, serif;
}

.nav-link
{
	 float: right; 
}

body
{
	font-size: 20px;
}

.jumbotron
{
	margin-top: 20px;
	justify-content:space-between;
	font-family: 'Times New Roman', Times, serif;
	background-color: #F8F9FA;
	border-radius:10px;
	padding: 20px;
}

h1
{
	text-align: center;
	font-family: 'Leckerli One', cursive,'Times New Roman', Times, serif;
}

h2{
	font-family: 'Times New Roman', Times, serif;
}

#almonzo-img
{
	border: 3px solid black;
}

footer
{
	text-align: center;
	font-size: 12px;
}

.card
{
	width:100%;
	text-align: center;
	margin-bottom:10px;
}

/* Space background loop - do not touch*/
#myVideo 
{
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index: -2;
  }


/* Media Query for phones */
@media only screen and (max-width: 767px) 
{

	#almonzo-img
{
	width:100%;
}

}

/* Media Query for screens larger than 992px */

@media only screen and (min-width: 992px) 
{
	.navbar-brand
	{
	  padding-right: 740px;
	}

	.nav-link
	{
		font-size:20px;
	}

	.jumbotron
	{
		width:47%;
	}

}

/* Jquery CSS code below*/
#panel, #flip {
	padding: 5px;
	background-color: #030303da;
	border: solid 1px #c3c3c3;
	color:white;
  }
  
  #panel {
	padding: 30px;
	display: none;
	border-radius: 10px;
  }
  
  #flip{
	text-align: center;
  }


/* Jquery CSS code2 below*/
#panel1, #flip1{
	padding: 5px;
	background-color: #030303da;
	border: solid 1px #c3c3c3;
	color:white;
  }
  
  #panel1 {
	padding: 30px;
	display: none;
	border-radius: 10px;
  }
  
  #flip1{
	text-align: center;
  }


/* Jquery CSS code2 below*/
#panel2, #flip2{
	padding: 5px;
	background-color: #030303da;
	border: solid 1px #c3c3c3;
	color:white;
  }
  
  #panel2 {
	padding: 30px;
	display: none;
	border-radius: 10px;
  }
  
  #flip2{
	text-align: center;
  }

  /* Jquery CSS code2 below*/
#panel3, #flip3{
	padding: 5px;
	background-color: #030303da;
	border: solid 1px #c3c3c3;
	color:white;
  }
  
  #panel3 {
	padding: 30px;
	display: none;
	border-radius: 10px;
  }
  
  #flip3{
	text-align: center;
  }

 /* Jquery CSS code2 below*/
 #panel4, #flip4{
	padding: 5px;
	background-color: #030303da;
	border: solid 1px #c3c3c3;
	color:white;
  }
  
  #panel4 {
	padding: 30px;
	display: none;
	border-radius: 10px;
  }
  
  #flip4{
	text-align: center;
  }

#centerGif{
	text-align: center;
	border: 3px solid green;
}

#codeLang{
	width: 200px;
	height: 150px;
}




